body {
  font-family: "Mulish", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  --background_light_main: #f7f9fb;
  --background_light_gradient: linear-gradient(180deg,#f7f9fb,rgba(238,242,245,0.8) 116.16%);
  --background_light_icon: rgba(0,136,204,0.06);
  --background_light_blue: rgba(0,136,204,0.1);
  --background_dark_main: #232328;
  --background_dark_gradient: linear-gradient(0deg,#232328,#343437 101.47%);
  --background_dark_secondary: hsla(0,0%,100%,0.03);
  --background_gradient_light: linear-gradient(180deg,#fff,#f7f9fb 134.8%);
  --button_light_primary: #08c;
  --button_light_primary_hover: #0197e2;
  --button_light_primary_pressed: #0082c2;
  --button_light_secondary: rgba(246,248,251,0.8);
  --button_light_secondary_hover: #f4f7fa;
  --button_light_secondary_pressed: #f4f7fa;
  --button_dark_primary: #08c;
  --button_dark_primary_hover: #00a1f1;
  --button_dark_primary_pressed: #076c9f;
  --button_dark_secondary: hsla(0,0%,100%,0.06);
  --button_dark_secondary_hover: hsla(0,0%,100%,0.12);
  --button_dark_secondary_pressed: hsla(0,0%,100%,0.03);
  --button_dark_text: #07a0ec;
  --button_dark_secondary_text_hover: #5bc8ff;
  --button_dark_secondary_text_pressed: #0186c9;
  --button_light_primary_small: rgba(0,136,204,0.06);
  --button_light_primary_small_hover: rgba(0,136,204,0.3);
  --button_light_primary_small_pressed: rgba(0,136,204,0.03);
  --text_light_primary: #161c28;
  --text_light_secondary: #728a96;
  --text_dark_primary: #fff;
  --text_dark_secondary: hsla(0,0%,100%,0.7);
  --text_dark_gradient: linear-gradient(89.92deg,#06a1ef 28.51%,#69cdff 85.79%);
  --icon_light_primary: #08c;
  --icon_light_secondary: rgba(236,240,243,0.8);
  --icon_light_thirdly: #98b2bf;
  --icon_dark_primary: #02a8fb;
  --separator_light: rgba(123,148,160,0.2);
  --separator_dark: hsla(0,0%,100%,0.06);
  --black: #000;
  --covers_light_green: #caefd9;
  --hovered_link: #08c;
  width: 100%;
  height: 2000px;
  margin: 0px;
}
.God{
  width: 100%;
  height: 3000px;
}
.head{
  background: var(--background_dark_main);
  color: #fff;
}
.head-top{
  background: linear-gradient(90deg,#9a6dfb -7.22%,#5dc7fc 109.17%); 
  display: flex;
    justify-content: center;
}
.head-top p{
   margin: 0px;
    padding: 8px 0px;
    color: #fff;
    font-size: 12px;
}
.head-bottom{
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  padding: 10px 0;
  background: var(--background_dark_main);
}
.head-bottom-left{
  display: flex;
    align-items: center;
}
.head-bottom-right{
  display: flex;
    align-items: center;
}
.head-bottom-left img{
  width: 100px;
}
.head-bottom-right img{
  width: 20px;
}
.head-bottom-right p{
  margin-left: 6px;
  font-weight: bold;
  color: #fff
}
.head-bottom-center{
  display: flex;
    width: 40%;
    justify-content: space-around;
    align-items: center;
}
.head-bottom-center a{
  text-decoration: none;
  color: #fff;
}
.button{
  display: flex
}
.main{
  width: 100%;
  height: 670px;
  display: flex;
  justify-content: center;
}
.main-left{
  width: 60%;
  margin-top: 70px; 
}
.main-left h1{
  font-size: 85px;
}
.main-left .p{
  line-height: 30px;
  font-size: 20px;
  transform: translateY(-45px);
  color: var(--text_dark_secondary);
}
.main-right{
  width: 23%;
}
.main-right video{
  width: 115%;
  position: relative;
  top: 55px;
  right: 35px;
}
.text{
  color: var(--button_dark_primary);
}
.main-bottom{
  display: flex;
  align-items: center;
  transform: translateY(-30px);
}
.button-left button{
  padding: 20px 28px;
  font-size: 17px;
  font-weight: bold;
  border-radius: 40px;
  background: var(--button_dark_primary);
  border: 0px;
  color: var(--background_light_main);
}
.button-right button{
  margin-left: 30px;
  padding: 2px 35px;
    border-radius: 40px;
    border: 0;
    display: flex;
    align-items: center;
    background: var(--separator_dark);
    color: #fff;
}
.button-right p{
  margin-left: 10px;
  font-size: 18px;
  font-weight: bold;
}
.section{
  width: 100%;
  margin-top: 150px;
}
.section-text{
  text-align: center;
}
.section-text h2{
  font-weight: 800;
  font-size: 60px;
}
.section-text p{
  font-size: 21px;
  font-weight: 500;
  transform: translateY(-35px);
  color: var(--text_light_secondary);
}
.section-article{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  margin-top: 40px;
}
.section-article-left{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
  height: 150px;
  border-radius: 40px;
  background: var(--button_light_primary_small_pressed);
  overflow: hidden;
}
.section-article-left-img{
  opacity: 0.05;
  transform: translate(45px, 0px);
}
.section-article-left-img img{
  width: 145px;
}
.section-article-left-left h2{
  font-weight: 800;
  font-size: 40px;
  margin: 0;
}
.section-article-left-left p{
  font-size: 20px;
  margin-bottom: 20px;
}
.section-article-left-left{
  transform: translate(45px, -10px);
}
.section-article-center{
  width: 25%;
}
.section-article-right{
  width: 25%;
}
.really-section-content{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}
.section-content{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 96%;
  padding: 45px 0px;
  border-radius: 40px;
  background: var(--button_light_primary_small_pressed);
}
.section-content-left{
width: 40%;
}
.section-content-right{
  width: 40%;
}
.section-content-right img{
  width: 90%;
}
nav{
  border: 2px solid;
  width: 50px;
  transform: translate(-4px, 30px);
  text-align: center;
  padding: 2px 4px;
  border-radius: 6px;
  font-weight: 700;
  font-size: 18px;
  color: rgb(123 148 160);;
}
.section-content-left-top h2{
  font-weight: 800;
    font-size: 55px;
}
.section-content-left-top p{
  font-size: 20px;
  color: var(--text_light_secondary);
  transform: translateY(-35px);
  font-weight: 500;
  line-height: 1.5;
}
.section-content-left-footer{
  transform: translate(0px, -22px);
}
.section-content-left-footer a{
  font-size: 20px;
  text-decoration: none;
  margin-right: 25px;
  font-weight: 800;
  color: var(--button_dark_primary);
}
.class{
  width: 100%;
  height: 2px;
  background-color: #00a1f1;
}
.section-timeline{
  width: 100%;
  margin-top: 160px;
}
.section-timeline-text h2{
  font-size: 45px;
  font-weight: 800;
  display: inline-block;
  transform: translate(182px, -30px);
}
.section-timeline-bottom{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.section-timeline-bottom h2{
  font-weight: 900;
}
.section-timeline-bottom p{
  line-height: 1.5;
  font-size: 20px;
  font-weight: 500;
  color: var(--text_light_secondary);
}
.section-timeline-left ,.section-timeline-center{
  width: 26%;
  border-top: 2px solid #4192ba47;
}
.section-timeline-right{
  width: 36%;
  border-top: 2px dashed #4192ba47;
}
.section-timeline-right a{
  text-decoration: none;
  color: var(--button_dark_primary);
  font-weight: 900;
  position: relative;
  top: 16px;
}
.test{
  background: var(--button_dark_primary);
  border-radius: 50px;
  position: absolute;
}
.test-t{
  width: 8px;
  height: 8px;
  transform: translate(180px, -3px);
}
.test-e{
  width: 8px;
  height: 8px;
  transform: translate(576px, -3px);
}
.test-s{
  width: 25px;
  height: 25px;
  transform: translate(970px, -12px);
}
.test-tt{
  background: #fff;
  border-radius: 50px;
  position: absolute;
  width: 8px;
  height: 8px;
  transform: translate(978px, -3px);
}